@model DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Dashboard.cshtml";

}
    <body>
        <script src="~/js/TaskScript.js"></script>
        <div class="text-center">
            <h2 class="display-3 text-warning"><b>Welcome To Your Dashboard</b></h2>
        </div>
        <header>
            <form method="post">
                <div class="form-row justify-content-center">
                    <div class="form-group custom-control-inline">
                        <div class="form-row col-md">
                            @Html.DropDownList("CarYear", ViewBag.carYearList as SelectList, "Year", new { @div_class = "form-control", @class = "form-control", aria_labelledby = "dropdownMenuButton" })
                        </div>
                        <div class="form-row col-md">
                            @Html.DropDownList("CarMake", ViewBag.carMakeList as SelectList, "Make", new { @div_class = "form-control", @class = "form-control", aria_labelledby = "dropdownMenuButton" })
                        </div>
                        <div class="form-row col-md-3">
                            @Html.DropDownList("CarModelsId", ViewBag.carModelList as SelectList, "Model", new { @div_class = "form-group", @class = "form-control", aria_labelledby = "dropdownMenuButton" })
                        </div>
                        <div class="form-row col-md">
                            @Html.DropDownList("DriveTran", ViewBag.carDriveList as SelectList, "DriveTran", new { @div_class = "form-group", @class = "form-control", aria_labelledby = "dropdownMenuButton" })
                        </div>
                        <div class="form-row col-md">
                            @Html.DropDownList("EngineSize", ViewBag.carEngineList as SelectList, "Engine", new { @div_class = "form-group", @class = "form-control", aria_labelledby = "dropdownMenuButton" })
                        </div>
                        <div class="form-row col-md-2">
                            @Html.DropDownList("Transmission", ViewBag.carTransmissionList as SelectList, "Transmission", new { @div_class = "form-group", @class = "form-control", aria_labelledby = "dropdownMenuButton" })
                        </div>
                        <input type="submit" value="Save" class="btn btn-primary">
                    </div>
                </div>

            </form>
            <div class="row justify-content-between">
                <div class="col-sm-3">
                    <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                        <div class="card-header text-center">Maintenance Manager</div>
                        <div class="card-body">
                            <div class="text-center">
                                <h6 class="card-title">Maintenance Needed</h6>
                            </div>
                            <ul id="tasks">
                                @*<li class="todo">Front Struts</li>
                                <li class="todo">Rear Shocks</li>
                                <li class="todo">Spark plugs</li>
                                <li class="todo">Change oil</li>*@
                            </ul>
                            <div class="text-center">
                                <input type="text" id="cardinput" placeholder="Needed Task">
                                <button onclick="newElement()" type="button" class="btn-primary">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                        <div class="card-header text-center">Maintenance Manager</div>
                        <div class="card-body">
                            <div class="text-center">
                                <h6 class="card-title">Maintenance Completed</h6>
                            </div>
                            <p class="card-text">
                                <ul id="tasks">
                                    @*<li class="todo">Front Struts</li>
                                    <li class="todo">Rear Shocks</li>
                                    <li class="todo">Spark plugs</li>
                                    <li class="todo">Change oil</li>*@
                                </ul>
                            </p>
                            <div class="text-center">
                                <input type="text" id="cardinput" placeholder="Task Completed">
                                <button onclick="newElement()" type="button" class="btn-primary">Add</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <form method="get">
                <div class="form-row justify-content-center">
                    <div class="form-group custom-control-inline">
                        <div class="form-row col-md">
                            @Html.DropDownList("car", ViewBag.carGarageList as SelectList, "Garage", new { @div_class = "form-group", @class = "form-control", aria_labelledby = "dropdownMenuButton" })
                        </div>
                        <div class="form-group col-5">
                            <label for="VehicleMiles" class="sr-only">Vehicle Mileage</label>
                            <input name="miles" type="text" class="form-control" placeholder="Vehicle Mileage" required>
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Enter</button>
                    </div>
                </div>
            </form>
            @if (Model != null)
            {
                <div class="container p-3 my-3 bg-dark text-white">
                    <div class="justify-content-lg-center">
                        <label for="MileageMileStone" class="text-center">Mileage Milestone</label>
                        <p id="p">
                            @Model.CarModel at @Model.Mileage should have the following milestones in the past:
                        </p>

                        @foreach (var m in Model.Milestones)
                        {
                            <p id="a">
                                At @m.VehicleMileStones, the @Model.CarModel should have the following services completed:
                                @m.MileStoneDescription
                            </p>
                        }
                        <a asp-action="Dashboard" class="btn btn-primary">
                            Click here to clear
                        </a>
                    </div>
                </div>
            }
            <div class="row justify-content-between">
                <div class="col-sm-3">
                    <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                        <div class="card-header text-center">Maintenance Manager</div>
                        <div class="card-body">
                            <div class="text-center">
                                <h6 class="card-title">Upcoming Maintenance</h6>
                            </div>
                            <p class="card-text">
                                <ul id="tasks">
                                    @*<li>Air Filter</li>
                                    <li>In Cabin Air Filter</li>
                                    <li>Serpentin Belt</li>
                                    <li>Tire Rotation</li>*@
                                </ul>
                            </p>
                            <div class="text-center">
                                <input type="text" id="cardinput" placeholder="Upcoming Task">
                                <button onclick="newElement()" type="button" class="btn-primary">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="text-center">
                        <h5>Previous Oil Change & Tire Rotation</h5>
                    </div>
                    <table class="table table-hover table-bordered">
                        <thead class="thead-light">
                            <tr class="table-primary">
                                <th scope="col">Day</th>
                                <th scope="col">Month</th>
                                <th scope="col">Year</th>
                                <th scope="col">Mileage</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-primary">
                                <th scope="row">3</th>
                                <td>Jan</td>
                                <td>2019</td>
                                <td>65000</td>
                            </tr>
                            <tr class="table-primary">
                                <th scope="row">9</th>
                                <td>Feb</td>
                                <td>2020</td>
                                <td>81000</td>
                            </tr>
                            <tr class="table-primary">
                                <th scope="row">12</th>
                                <td>Mar</td>
                                <td>2020</td>
                                <td>81728</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                        <a href="#" class="btn btn-primary">Edit</a>
                    </div>
                </div>
            </div>
        </header>
    </body>




